// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#orgaizer_p{
	width: 100%;
	background-color: #1c1c1c;
	margin-top: 150px;
}
#orgaizer_p h1{
	color: #8c8c8c;
	font-size: 40px;
	padding-top: 20px;
	padding-left: 20px;
}
#orgaizer_p p{
	color:#8e8e8e;
	font-size: 14px;
	margin-left: 20px;
	padding-bottom:  20px;
	margin-right: 20px;
}
#category_p{
	width: 100%;
	background-color: #1c1c1c;
	margin-top: 150px;
}
#category_p h1{
	margin-left: 20px;
	color: #444444;
	font-size: 40px;
}
#category_p p{
	color: #878787;
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 20px;
}
.category_title_nav {
	font-family: 'museo_500';
	font-size: 22px;
	color: white;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 6px;
}
.category_title_show {
	font-family: 'museo_500';
	font-size: 30px;
	color: white;
	text-transform: uppercase;
	margin-top: 100px;
}
.subcategory_show_h6 {
	color: white;
	font-family: 'museo_300';
	font-weight: normal;
	letter-spacing: 2px;
	float: left;
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
	line-height: 33px;
}
.category_body_show {
	color: white;
	font-family: 'museo_100';
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	width: 600px;
	margin-bottom: 10px;
	position: relative;
}
.category_body_nav, .subcategory_display div {
	color: white;
	font-family: 'museo_100';
	font-size: 13px;
	font-weight: normal;
	clear: both;
	text-transform: none;
	line-height: 18px;
	font-weight: normal;
}
.subcategory_display {
	opacity: 0;
	width: 100%;
	overflow: hidden;
	border-top: 1px solid #414141;
	margin-bottom: 14px;
}
.subcategory_display h1{
font-family: 'museo_300';
color: white;
font-weight: normal;
font-size: 25px;
text-transform: uppercase;
line-height: 25px;
}
.subcategory_display h2{
font-family: 'museo_100';
color: white;
font-weight: normal;
font-size: 25px;
line-height: 25px;
}
.subcategory_display h3{
font-family: 'museo_100';
color: white;
font-weight: normal;
font-size: 20px;
line-height: 20px;
}
.agend_{
	font-family: 'museo_300';
	color: white;
	font-size: 25px;
	margin-top: -10px
}
.h1_content {
	font-family: 'museo_300';
	color: white;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 2px;
	margin-bottom: 30px;
}
.contenido {
	clear: both;
	position: relative;
	margin-top: 30px;
}
.line_contenido {
	width: 600px;
	height: 1px;
	background: rgba(255, 255, 255, 0.34);
	position: relative;
	margin-top: 20px;
}
.contenido:nth-child(1){
	margin-top: 0;
}
.contenido img{
	float: left;
	margin-right: 22px;
}
.img_space{
	height: 28px;
	position: relative;
	float: left;
	width: 100%;
}
.article_paragraph img{
	display: none;
}